What is where in the dataset:

* actual detections
* false detections

In [ ]:
import sys; sys.path.append('../') # look in upper directory
from rfcx_species_audio_detection.utils import *
import pandas as pd
from pathlib import Path

In [ ]:
path_data = Path.home()/'data'
train_tp = pd.read_csv(path_data/'train_tp.csv')
train_fp = pd.read_csv(path_data/'train_fp.csv')

In [ ]:
train_tp

,recording_id,species_id,songtype_id,t_min,f_min,t_max,f_max
0,003bec244,14,1,44.5440,2531.250,45.1307,5531.25
1,006ab765f,23,1,39.9615,7235.160,46.0452,11283.40
2,007f87ba2,12,1,39.1360,562.500,42.2720,3281.25
3,0099c367b,17,4,51.4206,1464.260,55.1996,4565.04
4,009b760e6,10,1,50.0854,947.461,52.5293,10852.70
...,...,...,...,...,...,...,...
1211,fe8d9ac40,13,1,53.4720,93.750,54.0960,843.75
1212,fea6b438a,4,1,43.5787,2531.250,45.7653,4031.25
1213,ff2eb9ce5,0,1,15.2267,5906.250,16.0213,8250.00
1214,ffb8d8391,5,1,14.3467,4781.250,16.6987,10406.20
1215,ffb9a7b9a,18,1,40.3200,3187.500,41.0133,5062.50

How many categories are represented in true & false detections. The dataset has 24 categories.

In [ ]:
len(train_tp['species_id'].unique()) == 24 == len(train_fp['species_id'].unique())

True